.divClass1 {
    color: blue;
    text-align: center;
}

*{
    margin: 0;
    padding: 0;

}
body{
    background: antiquewhite;
    background-size: 280%;
    background-position: -400px 0px;

}
div.main{
    width: 400px;
    margin: 100px auto 0px auto;
}
h2{
    text-align: center;
    padding: 20px;
    font-family: sans-serif;
}
div.register{
    background-color: dodgerblue;
    width: 100px;
    font-size: 18px;
    border-radius: 10px;
    border:1px solid cornsilk;
}
form#register{
    margin:40px;
}
label{
    font-family: sans-serif;
    font-size: 18px;
    font-style: italic;
}
input#name{
    width: 300px;
    border:1px solid black;
    outline:0;
    padding: 7px;
    background-color: lightgray;
    box-shadow: inset 1px 1px 5px; rgba(0,o,o,0,3);
}
input#submit {
    width: 200px;
    padding: 7px;
    font-size: 16px;
    font-family: sans-serif;
    font-weight: 600;
    border-radius: 3px;
    background-color: cornsilk;
    color: cadetblue;
    cursor: pointer;
    border: 1px solid black;
}

label, span, h2 {
    text-shadow: 1px 1px 5px red;
}



p {
    color: blue;
}

.myContent {
    color: violet;
    background-color: #f1d7c4;
    height: 100px;
    width: auto;
    padding: 10px 5px 10px 5px;
    border: 2px solid black;
    border-radius: 10%;
}

.spanContent{
    text-align: right !important;
    padding: 10px 5px 10px 5px;

}

.imageContent{
    padding: 50px;
    border-radius: 50%;
}

.text-brown{
 color: brown !important;
}

.grey-background {
    background-color: grey !important;
}
